# Credenciales unificadas de administrador
ADMIN_USER=nombre_usuario_admin
ADMIN_PASSWORD=contraseña_segura

# pgAdmin — correo de acceso a la interfaz web
PGADMIN_EMAIL=correo@dominio.com

# PostgreSQL — BD inicial que el contenedor creará al arrancar por primera vez
POSTGRES_DB=nombre_base_datos_inicial

# Puertos Expuestos (Host)
POSTGRES_PORT=0000
MYSQL_PORT=0000
MONGO_PORT=0000
PGADMIN_PORT=0000

# Ruta del workspace en el host (Windows)
HOST_WORKSPACE=C:\your-path-workspace